.MyComponentFrame
{
  border: solid gray 3px;
  padding: 5px;
  background-color: #F0F0F0;
}

.MyNameShop
{
  font-family: 'Courier New', Courier, monospace;
  font-size: 150%;
  color: magenta;
  font-weight: bold;
  text-align: center;

}

